.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

:root {
  --bg-color: #e9dc9c;
  --button-color: #326589;
  --text-title-color: #123db3;
  --text-price-color: #002f52;
  --text-tag-color: #898989;
}

.header {
  background-color: var(--bg-color);
  text-align: center;
  width: auto;
  padding: 0;
}

.header__titulo {
  font-size: xx-large;
  margin-bottom: 0.2rem;
}

.header__contato {
  font-size: x-large;
  margin-bottom: 0.2rem;
}

.bannerFull {
  display: block;
  width: 100%;
  height: auto;
}

.bannerMobile {
  display: none;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.btn {
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
  height: 3rem;
  width: 7.2rem;
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  margin: 0.2rem;
}

.btn:hover {
  color: #cecdcd;
  border-radius: 10px;
  border-bottom: 2px solid var(--bg-color);
}

.produtos {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.produto {
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
  text-align: center;
  font-weight: 40rem;
}

.indisponivel {
  opacity: 0.3;
}

.produto__nome {
  color: var(--text-title-color);
  font-size: 1.3rem;
  line-height: 1.4rem;
  margin: 0.2rem;
}

.produto__preco {
  color: var(--text-price-color);
  font-size: 1.8rem;
  margin: 0.2rem;
}

.rodape {
  background-color: var(--bg-color);
  color: var(--text-tag-color);
  p {
    margin-bottom: 0;
  }
}

.sobre {
  text-justify: center;
}

@media (max-width: 575.98px) {
  .bannerFull {
    display: none;
  }

  .bannerMobile {
    display: block;
    width: 100%;
    height: auto;
  }

  .header__titulo {
    font-size: large;
  }

  .header__contato {
    font-size: large;
  }

  .nav {
    height: 4rem;
    margin: 0 0 1rem 0;
  }

  .btn {
    height: 2rem;
    font-size: 0.9rem;
  }
}
