.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

:root {
  --bg-color: #e9dc9c;
  --btn-color: #326589;
  --text-title-color: #123db3;
  --text-price-color: #002f52;
  --text-tag-color: #898989;
}

.container {
  padding: 0%;
}

.header {
  background-color: var(--bg-color);
  text-align: center;
  width: auto;
  padding: 0;
}

.header__contato {
  font-size: x-large;
  margin-bottom: 0rem;
  padding: 1%;
}

.header__phone {
  color: var(--text-title-color);
}

.bannerFull {
  display: block;
  width: 100%;
  height: auto;
}

.bannerMobile {
  display: none;
}

.nav {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  height: auto;
  justify-content: center;
  padding: 1%;
}

.btn {
  background-color: var(--btn-color);
  text-justify: center;
  border: none;
  cursor: pointer;
  height: 2.7rem;
  width: 7.2rem;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  margin: 0.2rem;
}

.btn:hover {
  color: var(--text-tag-color);
  border-radius: 10px;
  border-bottom: 2px solid var(--text-tag-color);
}

.produtos {
  background-color: var(--bg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.produto__cabecalho__categoria,
.produto__cabecalho__linha {
  color: var(--text-title-color);
  max-width: 800px;
}

.produto__cabecalho__categoria {
  padding-top: 1.5rem;
  padding-bottom: 0.6rem;
  text-align: center;
}

.produto__cabecalho__preco,
.produto__linha__preco {
  text-align: right;
}

.produto__linha {
  max-width: 800px;
}

.produto__linha__nome,
.produto__linha__preco {
  padding-top: 2%;
}

.produto__linha__complemento {
  max-width: 800px;
  font-style: italic;
}

.rodape {
  background-color: var(--bg-color);
  color: var(--text-tag-color);
}

.rodape__elemento {
  padding: 1rem;
}

.rodape__linha {
  margin-bottom: 0;
}

@media (max-width: 575.98px) {
  .bannerFull {
    display: none;
  }

  .bannerMobile {
    display: block;
    width: 100%;
    height: auto;
  }

  .header__contato {
    font-size: large;
  }

  .produtos {
    padding: 0;
  }
}
